/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333; 
}

/* Navigation bar styles */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #212529; /* Dark background color */
  color: #fff;
  padding: 15px 0;
  z-index: 100; /* Adjust the value as needed */
}


.nav-bar a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  display: inline-block;
}

.nav-bar li {
  display: inline-block;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.flex-end {
  margin-right: auto;
}

.flex-start {
  margin-left: auto;
}

/* Search bar styles */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Login form styles */
.login {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 0 auto;
  margin-top: 5%;
}



h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cred {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  min-width: 80px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #0077b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
}

p {
  margin-top: 10px;
}

/* Restaurant list styles */
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.restaurant-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  padding: 15px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.restaurant-item:hover {
  transform: translateY(-5px);
}

.restaurant-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.restaurant-item p {
  font-size: 1rem;
  color: #666;
}

.restaurant-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

/* Reviews styles */
.reviews {
  padding: 20px;
  text-align: center;
}

.review {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 15px 0;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review p {
  font-size: 1rem;
  color: #333;
}

.review .rating {
  font-size: 1.25rem;
  color: #0077b5;
  font-weight: bold;
}

/* Button styles */
button {
  background-color: #7a2323;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.login-status {
  position: fixed;
  bottom: 0;
  background-color: #b50000; 
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: start;
  font-weight: bold;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.login-status p {
  margin: 0; 
}

.log-out-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.reviews {
  text-align: left;
}

/* ALL PROFILE STYLING */
.profile-page {
  margin-top: 7%;
  margin-left: 15px;
}

.all-reviews {
  background-color: rgb(44, 44, 44);
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
}

.single-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  margin: auto;
  padding: 0px;
}

.img-fluid.mb-3 {
  max-width: 40%; 
  height: auto;
  display: block; 
  margin: 0 auto;
  border-radius: 5px;
}

/* i think media queries go below everything */
@media screen and (max-width: 768px) {
  .profile-page {
    margin-top: 20%;
  }
}

/* Homepage Styling */
.logo {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeReviews {
  border-top: 2px solid;
  padding-top: 50px;
}

.homeReviews h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.homeReviews .moreReviewsButton {
  display: flex;
  justify-content: center;
  margin-bottom: 7vw;